@page "/"

<PageTitle>Index</PageTitle>

<h1>KIV/PIA - Management Tool!</h1>

Vítejte v management nástroji!
V tomto nástroji můžete přidávat nové uživatele, nové projektry, přiřazovat úkoly a další vymoženosti. 
Pro více info se podívejte do manuálu!

<LoginPrompt/>
